#login{
    width: 100%;
    height: 100%;
    background-color:#F8F8F8;
    padding-top:0.390625rem;
}

#login .form ul{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 2.54375rem;
    background-color:#fff;
    padding-left:0.3125rem;
    border-top:1px solid #DEE3DA;
    border-bottom:1px solid #DEE3DA;
}
#login .form ul li{
    flex:1;
    border-bottom:1px solid #EBEBEB;
    padding:0.203125rem 0;
    position:relative;
    margin: 0;
}
#login .form ul li:last-child{border-bottom:none;}
#login .form ul li:last-child input{display:inline-block;width:3.2625rem;float:left;line-height:0.46875rem;}
#login .form ul li input{
    width: 100%; 
    height: 0.36875rem;
    border:none;
    padding-left:0.3325rem;
    font-size:0.2rem;
}
#login .form ul li i{
    position:absolute;
    top: 0.300rem;
    left: 0;
    color:#58bc58;
    font-weight:bold;
    font-size:0.25rem;
}
#login .form ul li span{
    float:right;
    display:inline-block;
    width: 0.875rem;
    height: 0.46875rem;
    margin-right:0.53125rem;
    border:1px solid #DFDFDF;
    text-align:center;
    line-height:0.46875rem;
    font-size:0.1875rem;
    color:#008842;
}

#login .form p{
    font-size:0.21875rem;
    color:#008842;
    margin:0.234375rem 0 0 0.3125rem;
}
#login .form .back{
    margin-left:2.453333rem;
    color:#008842;
    text-decoration:none;
}

#login .form .lr{
    margin:0.4375rem 0.40625rem 0 0.4375rem;
}
#login .form .lr button{
    width: 1.76875rem;
    height: 0.55375rem;
    border-radius:0.078125rem;
    font-size:0.21875rem;
}
#login .form .lr button:nth-child(1){
    background-color:#008842;
    color:#fff;
    border:none;
    margin-right:0.375rem;
}
#login .form .lr button:nth-child(2){
    border:0.015625rem solid #008842;
    color:#008842;
    background-color:#fff;
}

#login .form .sanfang{
    margin-top:0.703125rem;
}
#login .form .sanfang p{
    color:#A0A0A0;
    text-align: center;
    margin: 0 0 0.3125rem 0;
}
#login .form .sanfang em{
    display:inline-block;
    width: 0.78125rem;
    height: 0.78125rem;
}

#login .form .sanfang .qq{
    margin:0 0.3125rem 0 1.5625rem;
    background:url('../../img/l1.png') no-repeat;
}
#login .form .sanfang .wb{
    background:url('../../img/l2.png') no-repeat;

}

#login .log{
    width: 100%;
    height: 0.546875rem;
    position:absolute;
    bottom:0.25625rem;
}
#login .log span{
    display:block;
    width: 1.4375rem;
    height: 0.53125rem;
    background:url('../../img/l3.png') center no-repeat;
    transform:translateX(125%);
}

#tanchuang{
    position:absolute;
    width:3.6875rem;
    height:1.375rem;
    border-radius:0.138125rem;
    background-color:#fff;
    box-shadow:  0 0 0 200000px rgba(0, 0 ,0 ,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display:none;*/
}
#tanchuang p{
    font-size:0.1875rem;
    color:#333;
    text-align:center;
    width: 100%;
    height: 0.859375rem;
    line-height:0.859375rem;
    border-bottom:0.03125rem solid #F7F7F7;
}
#tanchuang em{
    display: block;
    width: 100%;
    text-align: center;
    font-size:0.1875rem;
    line-height:0.5125rem;
}