
a{text-decoration: none;}
body,html{height: 100%;}
/*.box{height: 100%;display:flex;flex-direction:column;}*/

.tou{height:0.46875rem;background:#35DA84;color:#fff;font-size:14px;width: 100%;position:relative;}
.tou p i{width:100%;height: 0.15625rem;
    display:inline-block;position:absolute;top:
    0.09375rem;left:0.46875rem;
color:#000;font-size:16px;}
.tou p{color:#fff;float: left;padding:0.0625rem;}

.fixed{  position:fixed; top:0; /*z-index:2; */ }

.tou input{float: left; height:0.34375rem;border:none;border-radius: 0.3125rem;width: 4.03125rem;margin-top:0.062988rem;background:#56DA9B;margin-left:0.3125rem;position:relative;}
.tou span{width:0.265625rem;height: 0.25rem;background:url("../img/faj.png") no-repeat;position:absolute;top:0.125rem;left:0.9375rem;}
/*.main{flex:1;overflow-x:hidden;}*/
.main .banner{height:2.65625rem;margin-top:0.15625rem;}

/*.main .box1 .f1{width:17.578125rem;height:5.375rem;}*/

.main .box1 .t1{border-bottom:0.046875rem solid #F4F4F4;height:1.9375rem;background:#fff;}
.main .box1 .t1 li{float: left;width:1.09375rem;margin-right:0.0625rem;}
/*.main .box1 ul li img{margin-right:none;}*/
.main .box1 .t1 li p{font-size:12px;color:#000;}


.main .box2 .t2 li {
    float: left;height:2.546875rem;width:1.5625rem;margin-right:0.15625rem;
}
.main .box2 .t2::-webkit-scrollbar{display:none;}
.main .box2 .t2{ overflow-x:scroll; display:flex;/*flex-direction:;*/height:2.546875rem;}
.main .box2 .t2 li .tip{font-size:14px;color:#20C57F;text-align: center;/*border:1px solid #20C57F;;border-radius:0.15625rem;*/}
/*.main .box2 .t2 li .tip .tv{border:1px solid #000;border-radius: 0.15625rem;}*/
.main .box2 .t2 li .price{color:red;font-size:12px;text-align: center;margin-left: 0.3125rem;

}
/*.main .box2 .t2 li span{line-height: 0.46875rem;text-align: center;padding-top: 0.140625rem;line-height: 0.3125rem;}*/
.main .box2 .t2 li .qt{
  font-size:12px;color:#8F808F;text-align: center;
}
.main .box2 .t2 li .pt{font-size:12px;color:#000;text-align: center;}
/*.main .box2 .t2 p*/
.main .box2 .t2 li img{width:1.5625rem;height:1.5625rem;
  /*  margin-left: 0.46875rem;*/}

.main .box2 .t2
/*,.main .box3 .t3,.main .box4 .t4*/
/*,.main .box5 .t5,.main .box6 .t6,.main .box7 .t7,.main .box8 .t8
*/{border-bottom:0.015625rem solid red;height:2.546875rem;background-color:#fff;}
/* .main .box9 .t9{
height:15.625rem;background-color:pink;
 }*/
 .main .bot1 h1, .main .bot2 h1,.main .bot3 h1,.main .bot4 h1,.main .bot5 h1,.main .bot6 h1,.main .bot7 h1,.main .bot8 h1{
    font-size:16px;text-align: center;height: 0.78125rem;line-height: 0.78125rem;
 }

 .main .bot1 .b1, .main .bot2 .b2,.main .bot3 .b3{
    height:11.25rem;background-color:#ABD5E3;font-size:12px;

 }
 .main .bot1 .b1 li{
    float: left;width:2.5rem;height:1.5625rem;
 }

  /*.main .bot1 .b1 li .cn{font-size:12px;}
   .main .bot1 .b1 li .bt{font-size:12px;}
    .main .bot1 .b1 li .tip{font-size:14px;}*/
 .main .bot4 .b4, .main .bot7 .b7{height:7.03125rem;background-color: #F7A60B;font-size:12px;}
 .main .bot4 .b4 li{
    float: left;width:2.5rem;height:1.5625rem;
 }

 .main .bot8 .b8{height:7.03125rem;background-color:#D19F6D;font-size:12px;}
 .main .bot8 .b8 li{
    float: left;width:2.5rem;height:1.5625rem;
 }


.main .bot5 .b5,.main .bot6 .b6{height:3.875rem;background-color:#D8CBBD;}
.main .bot8 .b8{
    height:7.125rem;background-color:#D19F6D;
}
.main .bot9 p{
    margin-bottom:0.625rem;
    height:0.703125rem;background-color:#F9F9F9;text-align: center;font-size:12px;padding-top: 0.125rem;color:#CDCCCC;
}



.footer{height: 1.5625rem;background-color:yellow;}